/*
.graybox {
	background-color: lightgray;
	border: 1px white solid;
}

.row {
	background-color: transparent;
	border: 0;
}*/
.hide {
	display: none;
}

.edit-panel {
	position: absolute;
	box-sizing: border-box;
	border-radius: 5px ;
	box-shadow: 0 2px 6px 0 rgba(22, 45, 61, 0.55);
	background-color: #eeeeee;
	max-width: 1024px;
	z-index: 101;
}
.edit-panel-title {
	min-height: 40px;
	width: 100%;
	padding: 10px;
	background-color: #4183c4;
	border-top-left-radius: 5px ;
	border-top-right-radius: 5px ;
	color: white;

}
.edit-panel-close {
	float: right;
	margin-right: 10px;
	cursor: pointer;
}
.edit-text {
	min-width: 300px;
}

ul {
	list-style-type: none;
}
/* CSS for the font-name + font-size plugin */
.wysiwyg-plugin-list {
	max-height: 16em;
	overflow: auto;
	overflow-x: hidden;
	overflow-y: scroll;
}
.wysiwyg-plugin-list a,
.wysiwyg-plugin-list a:link,
.wysiwyg-plugin-list a:visited {
	display: block;
	color: black;
	padding: 5px 10px;
	text-decoration: none;
	cursor: pointer;
}
.wysiwyg-plugin-list a:hover {
	color: HighlightText;
	background-color: Highlight;
}
/* CSS for the smiley plugin */
.wysiwyg-plugin-smilies {
	padding: 10px;
	text-align: center;
	white-space: normal;
}
.wysiwyg-plugin-smilies img {
	display: -moz-inline-stack; /* inline-block: http://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */
	display: inline-block;
	*display: inline;
}
/* Fake bootstrap + uikit */
.fake-bootstrap.wysiwyg-container.wysiwyg-active {
	/* colors shamelessly stolen from bootstrap.form-control:focus */
	border-color: #66afe9;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6)
}
.fake-uikit.wysiwyg-container.wysiwyg-active {
	border-color: #99baca !important;
	background: #f5fbfe !important;
}
.wysiwyg-editor {
	min-height: 200px;
}
