.hide {
	display: none;
}
.bold{
	font-weight: bold;
}
::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}
::selection {
	background: #b3d4fc;
	text-shadow: none;
}
img {
	vertical-align: middle;
}
/*ul {
	list-style-type: none;
}*/

.edit-panel {
	position: absolute;
	box-sizing: border-box;
	border-radius: 5px ;
	box-shadow: 0 2px 6px 0 rgba(22, 45, 61, 0.55);
	background-color: #eeeeee;
	max-width: 1024px;
	/*new*/
	min-width: 460px;
	z-index: 999;
	display: none;
}
.edit-panel-container{
	position: relative;
}
.edit-panel-title {
	min-height: 40px;
	width: 100%;
	background-color: #4183c4;
	border-top-left-radius: 5px ;
	border-top-right-radius: 5px ;
	color: white;
	padding: 10px 10px 10px 15px;
	cursor: move;
}
.edit-panel-close {
	float: right;
	/*width: 38px;
	height: 38px;*/
	display: inline-block;
	border: none;
	font-size: 18px;
	color: #fff;
	text-align: center;
	-webkit-transition: 0.3s;
	transition: 0.3s;
	border-radius: 50%;
	cursor: pointer;
}

.edit-text {
	min-width: 300px;
}
.jquery-notebook.editor {
	min-height: 150px;
	padding:10px;
}
.jquery-notebook.bubble button {
	margin-top: 11px;
	height: 20px;
}



/***  image upload  ***/
.shadow {background:#000; opacity:0.3; position:absolute; left:0px; right:0px; top:0px; bottom:0px; z-index:1;}
.panel-img-pop {width:300px; min-height:300px; box-shadow:0 0 5px 3px #E1E4E7; border-radius:15px; position:absolute; z-index:2;}
.pop_title {background:#3899EC; height:24px; line-height:24px; padding:15px 20px; border-radius:15px 15px 0px 0px; color:#fff; position:relative;}
.pop_title a {display:inline-block; background:#2B81CB; color:#fff; width:24px; height:24px; line-height:24px; cursor:pointer; text-align:center; border-radius:12px;}
.pop_title a:first-child {position:absolute; right:55px; top:15px;}
.pop_title a:last-child {position:absolute; right:20px; top:15px;}
.pop_main {height:150px; position:relative; background:#EAF7FF url(../images/mainbg.png) center bottom no-repeat; background-size:contain;}
.main_editbg {height:60px; background:#3899EC; opacity:0.1; position:absolute; bottom:0px; left:0px; right:0px;}
.pop_main p {width:100px; padding:7px 10px; text-align:center; border-radius:20px; float:left;}
.pop_main p:nth-child(2) {position:absolute; left:20px; bottom:12px; background:#fff url(../images/change.png) 10px 9px no-repeat;}
.pop_main p:nth-child(3) {position:absolute; right:20px; bottom:12px; background:#fff url(../images/edit.png) 10px 9px no-repeat;}
.pop_content {height:130px; background:#fff; border-top:solid 1px #D9E1E8; padding:20px;}
.pop_content p {color:#2B5672; font-size:14px; padding-bottom:20px; clear:both;}
.content_list {float:left; width:55px; margin-right:13px; text-align:center;}
.content_list span {display:inline-block; width:55px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; color:#3899EC; font-size:14px; padding-top:10px;}
.content_list a {display:inline-block; width:55px; height:50px; background:#EAF7FF; line-height:50px; border-radius:8px;}
.content_list:last-child a {background:#3899EC;}
.content_list:last-child {margin-right:0px;}
.pop_footer {background:#F0F3F5; height:40px; line-height:40px; text-align:center; padding:0 20px; border-top:solid 1px #D9E1E8; color:#3C637E; border-radius:0px 0px 15px 15px;}
/** end **/