
.icon-newspaper:before { content: '\e800'; } /* '' */
.icon-folder-open-empty:before { content: '\e801'; } /* '' */
.icon-desktop:before { content: '\e802'; } /* '' */
.icon-toggle-off:before { content: '\e803'; } /* '' */
.icon-toggle-on:before { content: '\e804'; } /* '' */
.icon-volume-up:before { content: '\e805'; } /* '' */
.icon-file-image:before { content: '\e806'; } /* '' */
.icon-file-video:before { content: '\e807'; } /* '' */
.icon-font:before { content: '\e808'; } /* '' */