<div id="main_select">
    <ul id="con_nav">
        <li id="wenzi" class="on">文字</li>
        <li id="wenjian">文件</li>
        <li id="timu">题目</li>
    </ul>
    <div id="con_main">
        <ul id="text_list" class="list on">
            <li>{{text.name}}</li>
        </ul>
        <ul id="file_list" class="list">
            <li>{{file.name}}</li>
        </ul>
        <ul id="quest_list" class="list">
            <li>{{quest.name}}</li>
        </ul>
        <div id="con_view"></div>
        <div id="con_style"></div>
    </div>
    <div id="con_operate">
        <div id="con_confirm">确 认</div>
        <div id="con_cancel">取 消</div>
    </div>
</div>