<div class="title-container resizable">
    <h2 class="editable">Identifying detail</h2>
    <h3 class="editable">Understanding detailed information</h3>
</div>

<div class="activity-content template">

    <div class="question resizable">
        <h2 class="title">
            <span class="label editable"></span> <span class="rubric editable"></span>
        </h2>
        <div class="resources-image-x template resizable">
        </div>
    </div>

    <div class="answer">
        <ul>
            <li class="choices-x template">
                <span class="text editable"></span>
            </li>
        </ul>
    </div>
</div>



