$inline-block-alignment: middle !default;
$legacy-support-for-ie: false !default;


@mixin inline-block($alignment: $inline-block-alignment) {
  display: inline-block;
  @if $alignment and $alignment != none {
    vertical-align: $alignment;
  }
  @if $legacy-support-for-ie {
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
  }
}


@mixin horizontal-center {
  margin-left: auto;
  margin-right: auto;
}




@mixin float($side:left){
  float: unquote($side);
  @if $legacy-support-for-ie {
    _display:inline;
  }
}


@mixin clearfix {
  @if $legacy-support-for-ie {
    *zoom: 1;
  }
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
    overflow: hidden;
  }
}

%clearfix {
  @include clearfix;
}


ul, li, body , html {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.hidden {
  display: none;
}

.template {
  display: none;
}