@charset "UTF-8";

$btn-high-color: #5CB85C;
.btn-high-color{
  color: $btn-high-color;
}
* {
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
}

$basefont: 14px;
$basic_bg_color: #F5F5F5;

html {
  font-size: $basefont;
  font-family: 'Microsoft YaHei UI', 'Microsoft YaHei', sans-serif;
}

body {
  background-color: $basic_bg_color;
  overflow-y: scroll;
}

.template, .hidden {
  display: none;
}

.tools-bar {
  background-color: #444;
  color: #fff;
  height: 60px;
  line-height: 60px;

  button {
    background-color: #444;
  }
}

.tool-workspace {
  -webkit-transform-origin: 0 0;
  margin-top: 70px;
  margin-left: 70px;

  .leftMenu {
    position: absolute;
    left: 30px;
    top: 110px;
    //z-index: 1101;
    span.glyphicon {
      font-size: 18px;
      display: block;
      width: 40px;
      line-height: 40px;
      text-align: center;
      background-color: #F5F5F5;
      color: $btn-high-color;
      cursor: pointer;
      -webkit-transition: background-color .1s ease-in;
      transition: background-color .1s ease-in;

      &.ratio {
        line-height: 16px;
        font-size: 12px;
        padding: 5px 0;
      }

      &[data-disabled='true'] {
        color: gray;
      }

      &[data-clicked='true'], &.glyphicon-minus:hover {
        background-color: $btn-high-color;
        color: #fff;
      }
    }
  }
  .hidder {
    position: absolute;
    left: 0;
    top: 70px;
    width: 70px;
    bottom: 0;
    z-index: -1;
    background-color: $basic_bg_color;
  }

  .blockType {
    border: 1px solid #ccc;
    position: fixed;
    top: 70px;
    height: 400px;
    left: 70px;
    box-sizing: border-box;
    border-radius: 0 8px 8px 0;
    overflow: hidden;
    z-index: 1099;
    border-left: 3px solid $btn-high-color;

    background: #fffeff;
    border-right: 1px solid #bbb;
    -moz-box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, .25);
    -webkit-box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, .25);
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, .25);

    -webkit-transition: -webkit-transform .3s ease-out;
    transition: transform .3s ease-out;

    -webkit-transform: translateX(-120%);
    transform: translateX(-120%);

    &.shown {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      min-width: 600px;
    }

    ul.category-list {
      background-color: $btn-high-color;
      display: inline-block;
      height: 100%;
      padding: 14px 0;
      vertical-align: top;
      li.category {
        text-align: center;
        color: #fff;
        cursor: pointer;
        font-size: 14px;
        margin-bottom: 2px;
        max-height: 30px;
        min-height: 14px;
        padding: 0 10px 0 3px;
        position: relative;

        span {
          border-radius: 20px;
          display: inline-block;
          height: 100%;
          overflow: hidden;
          padding: 0 14px;
          position: relative;

          &.current {
            background-color: rgba(0, 0, 0, 0.2);
            box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.11), inset 1px 1px 2px rgba(0, 0, 0, 0.15);
          }
        }
      }
    }

    .textTemplateLists {
      display: inline-block;
      padding: 10px;
      width: 310px;

      > div {
        display: block;
        padding: 10px;
        margin: 10px 0;
        border-radius: 5px;
        border: 1px solid #ccc;
        font-size: 18px;
        color: #666;

        span.glyphicon {
          float: left;
          margin-right: 10px;
        }

        &:hover {
          color: #222;
          cursor: pointer;
          border: 1px dashed green;
        }
      }
    }

    .chooseImage {
      display: inline-block;
      width: 500px;
      height: 380px;

      .zone {
        margin: 10px;
        border: 2px dashed #999;
        padding: 10px;
        height: 350px;
        text-align: center;
        font-size: 18px;
      }
    }

    .menuActivityList {
      display: inline-block;
      width: 500px;
      padding: 10px;
      > div {
        display: block;
        padding: 10px;
        margin: 10px 0;
        border-radius: 5px;
        border: 1px solid #ccc;
        font-size: 18px;
        color: #666;

        span.glyphicon {
          float: left;
          margin-right: 10px;
        }

        &:hover {
          color: #222;
          cursor: pointer;
          border: 1px dashed green;
        }
      }
    }

    [data-show='false'] {
      display: none;
    }
  }

  .pageConfig {
    border: 1px solid #ccc;
    position: fixed;
    top: 70px;
    height: 300px;
    width: 300px;
    left: 70px;
    box-sizing: border-box;
    border-radius: 0 8px 8px 0;
    overflow: hidden;
    background-color: #fff;
    z-index: 1100;

    padding: 10px;
    > div {
      padding: 5px;
    }
  }

  .screen {
    position: relative;
    background-color: #fff;

    > div {
      .gridpanel {
        display: none;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background: rgba(0, 0, 0, .7);
        line-height: 40px;
      }

      &.editable {
        .gs-w {
          border: 1px solid transparent;
          &:hover {
            border: 1px solid green;

            .gridpanel {
              display: block;
            }
          }
        }

      }
    }
  }

  .panelSwitcher {
    position: absolute;
    background: #FFFEFF;
    z-index: 110001;
    display: block;
    top: 65px;
    right: 26px;
    border: 1px solid #bbb;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, .25);
    -webkit-box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, .25);
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, .25);

    min-width: 420px;

    .pn-header {
      position: relative;
      line-height: 44px;
      height: 44px;
      border-bottom: 1px solid #E2E2E2;
      padding: 0 30px 0 10px;
      font-size: 18px;
      font-weight: 600;

      .btn-close {
        position: absolute;
        right: 10px;
        top: 0;
        line-height: 44px;
        height: 100%;
        color: #b3b3b3;
      }
    }

    .pn-body {
      padding: 10px;
      .common-config {
      }
    }
  }

  // background-color: #2c3e50;
}

.navbar {
  select {
    padding: 8px;
    margin: 8px;
  }

  input {
    margin: 16px;
  }

  li.save {
    margin-left: 100px;
    margin-right: 30px;
    line-height: 50px;

    button {
      margin: 0 10px;
    }
  }
}

svg.gridLines {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 300%;
  shape-rendering: crispEdges;
  z-index: 1100;
  pointer-events: none;

  line.frontLine {
    stroke: $btn-high-color;
    stroke-dasharray: 5 5;
  }
  line {
    stroke-width: 1;
  }
}

.gridster {
  background-color: rgb(237, 253, 218);

  ul {
    &.dragged {
      background-color: #FFF694;
    }

    li {
      .content {
        width: 100%;
        height: 100%;
      }

      &:hover {
        border: 2px dashed green;
      }

      &.current {
        border: 2px solid #FB9221;
      }

    }

  }
}

.default {
  p {

  }
}

.right-block {
  float: right;
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.editTextPanel {
  p.label {
    color: #000;
  }
}